{% extends 'bootstrap/base.html' %}
{% block html_attribs %} lang="pt-BR"{% endblock %}
{% block title %}AVALIAÇÕES DO ESTOQUE{% endblock %}
{% block styles %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Index <span class="sr-only">(current)</span></a>
      {% if not Logged %}
        <a class="nav-item nav-link" href="/login">Login</a>
        <a class="nav-item nav-link" href="/cadastro">Cadastro</a>
      {% endif %}
      <a class="nav-item nav-link" href="/estoques">Estoques</a>
      {% if Logged %}
        <a class="nav-item nav-link" href="/estoques/novo">Novo_Estoque</a>
        <a class="nav-item nav-link" href="/logout">Logout</a>
      {% endif %}
    </div>
  </div>
</nav>

<br>
<div class="container">

{% if avaliacoes %}
{% for avaliacao in avaliacoes %}

<div class="card" style="width: 18rem;">
    <div class="card-body">

        <h5 class="card-title"> {{avaliacao.autor}}</h5>
        <h6 class="card-subtitle mb-2 text-muted"> {{avaliacao.timestamp}}</h6><br>
        <h6 class="card-subtitle mb-2 text-muted"> Nota:  {{avaliacao.nota}}</h6><br>
        <p class="text-muted" style="margin-bottom: 5px;"> Descrição:</p>
        <p class="card-text">
            {{avaliacao.comentario}}
        </p>

      {% if usuario_atual == avaliacao.usuario_id %}
        <br><p><a href="{{ url_for('estoque_avaliacao_excluir', id_e=estoque_id, id_a=avaliacao.id) }}">Excluir</a></p>
      {% endif %}

    </div>
</div>

{% endfor %}
{% endif %}

</div>
{% endblock %}